@import './variables.less';

:export {
  primary-color: @primary-color;
  secondary-color: @secondary-color;
  divider-color: @divider-color;
  overlay-color: @overlay-color;
  border-radius-base: @border-radius-base;
  secondary-background-color: @secondary-background-color;
  secondary-background-color_lighten: @secondary-background-color_lighten;
  error-orange: @error-orange;
  gray-bg-color: @gray-bg-color;
  layout-body-background: @layout-body-background;
  grey-color: @grey-color;
  text-grey-color: @text-grey-color;
}
