@import './variables.less';

html,
body {
  width: 100%;
}

html {
  text-size-adjust: 100%;
}

html,
body,
#root,
#__next,
.app {
  height: 100%;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

// custom styles
#default-layout {
  .ant-menu-item-group-title {
    display: none !important;
  }
  .ant-menu-item {
    &.ant-menu-item-selected {
      .ant-menu-item-icon {
        color: @white;
      }
    }
    .ant-menu-item-icon {
      color: @divider-color;
    }

    .ant-menu-title-content {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &:hover {
      background-color: @hover-color!important;
    }
  }
  .btn-header-circle {
    &:hover {
      background-color: @secondary-background-color_lighten;
      color: @text-color;
    }
  }

  .select-dark {
    .ant-select-selector {
      background-color: @layout-body-background!important;
      border: none;
      box-shadow: none;
    }
    .ant-select-arrow {
      color: @white;
    }
  }

  .ant-input{
    border: none;
    box-shadow: none;
  }
}

.ant-tabs-dropdown-menu,
.ant-select-dropdown {
  border: 1px solid;
  background-color: @layout-body-background!important;
  padding: 0 !important;

  .ant-tabs-dropdown-menu-item {
    border-radius: @border-radius-base;
    &:hover {
      background-color: @secondary-background-color_lighten;
    }
  }

  .ant-select-item-option-active:not(.ant-select-item-option-disabled) {
    &:hover {
      background-color: @secondary-background-color_lighten;
    }
  }

  .ant-select-item-option-active:not(.ant-select-item-option-disabled) {
    background-color: @secondary-background-color_lighten;
  }

  .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
    background-color: @primary-color;
  }

  .ant-empty-description {
    color: @white;
  }
}
